/*desktop*/

body{
  background-color:white;
  font-size: 18px;
  color:black;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
h1 {
font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 38px;
}
h2 {
font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 32px;
}
h3 {
font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
}
#contact{
  margin:14px 0;
  padding: 2px 0;
}
#img{
  margin: 20px auto;
  grid-area: img;
}
nav ul, .menucontainer {
  padding:0;
  list-style-type: none;
}
nav ul {
  display: flex;
  flex-flow: row;
  width: 100%;
}
nav ul li {
  display: block;
  font-family: 'Bree Serif', serif;
  font-size: 1.2em;
  width: 20%;
}
nav ul a:link, nav ul a:visited {
  display: block;
  padding: 3px;
  color: white;
  background-color: #377ad1;
  font-weight: 400;
  text-align: center;
}
 nav ul a:hover {
   color:#377ad1;
   background-color: white;
   text-decoration: none;
 }
 nav ul a:active {
   color: #214a80;
 }
 #intro{
   grid-area:intro;
   margin: auto;
 }
img{
  border: none;
  height: 340px;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
#footer{
  grid-area: footer;
  text-align: center;
  margin: 10px auto 20px auto;
}
#line{
  grid-area: line;
  text-align: center;
}
#line HR{
  width:90%;
  resize:1;
}
#project1{
  grid-area: project1;
}
#project2{
  grid-area: project2;
}
#project3{
  grid-area: project3;
}
#project4{
  grid-area: project4;
}
#project5{
  grid-area: project5;
}
#project1, #project2, #project3, #project4, #project5
{
  height: auto;
  margin: 10px 15px;
}
#text1, #text2, #text3, #text4, #text5{
  width: 93%;
  margin: 0 auto;
}
#text1{
  grid-area:text1;
}
#text2{
  grid-area:text2;
}
#text3{
  grid-area:text3;
}
#text4{
  grid-area:text4;
}
#text5{
  grid-area:text5;
}
#intro2{
  grid-area:intro2;
}
#intro3{
  grid-area:intro3;
}
#intro3 p a{
  font-style: italic;
}
#intro4{
  grid-area:intro4;
}
.menu-trigger {
    display: none;
}
header h1{
  text-align: center;
  margin: 0 auto;
  font-size: 100px;
}
header a:link, header a:visited{
  color:#214A80;
}
header a:hover{
  color:#4294ff;
}
#intro{
  width: 90%;
  text-align: left;
}
a:link, a:visited{
  color:black;

}
a:hover {
  color:#4294ff;

}
#intro3 p a{
  color:black;
}
#resume{
  grid-area:img;
  padding-bottom: 10px;
}
#contactinfo{
  grid-area:intro;
  text-align: left;
  width: 340px;
  margin: auto 20px;
  padding-top: 50px;
}
#storycontainer{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0;
}
.byline {
      font-weight: 400;
      font-size: 20px;
      text-align: center;
    }
.audio{
  width: 80%;
  margin: 0 auto;
}
.text, .photo{
  font-size: 18px;
  text-align: left;
  width: 80%;
  margin:0 auto;
}
.text h4{
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.text{
  padding-bottom: 30px;
}
.text a, #resume a, #intro2 a{
  color:#4294ff;
}
.photo img{
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.video{
  position: relative;
  padding-bottom: 30px;
  margin: 0 auto;
  height: auto;
  max-width: 940px;
}

/*responsive videoWrapper*/
.video iframe {
  display: block;
  margin: auto;
  padding-bottom: 3em;
}
.videoWrapper {
    position: inherit;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
/*responsive videoWrapper*/
.infographic img{
  width: 50%;
  height: auto;
}
#issuestory{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-areas:
  'main main main sidebar';
}
#issuestory h2, #issuestory h3{
  text-align: center;
}
#issuestory h3{
  padding: 0 5px;
}
#main{
  grid-area: main;
}
#sidebar{
  grid-area:sidebar;
}
#sidebar .text{
  width: 100%;
  font-size: 16px;
}
#sidebar .infographic{
text-align:center;
}
#sidebar .infographic img{
  width: 100%;
  height: auto;
}
#storycontainer HR{
  width: 100%;
}
.sectionheader{
  text-align: center;
  padding-top:10px;
}
/*desktop*/
@media screen and (min-width: 1130px){
#container {
  text-align: center;
  display: grid;
  grid-template-columns:repeat(6, 1fr);
  grid-template-areas:
  '. img img intro intro .'
  '. footer footer footer footer .'
  ;
  grid-column-gap: 10px;
  grid-row-gap:10px;
}
#container2{
  text-align: center;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-areas:
  '. intro2 intro2 .'
  '. project1 project2 .'
  '. intro3 intro3 .'
  '. project3 project4 .'
  '. intro4 intro4 .'
  '. project5 . . '
  '. footer footer .'
  ;
  grid-column-gap: 10px;
  grid-row-gap:10px;
}
#container3 {
  text-align: center;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-areas:
  '. img intro .'
  '. footer footer .'
  ;
  grid-column-gap: 10px;
  grid-row-gap:10px;
  height: 550px;
}
#container4 {
  text-align: center;
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  grid-template-areas:
  '. img intro .'
  '. line line .'
  '. project1 project2 .'
  '. text1 text2 .'
  '. project3 project4 .'
  '. text3 text4 .'
  '. project5 . .'
  '. text5 . .'
  '. footer footer .'
  ;
  grid-column-gap: 10px;
  grid-row-gap:10px;
}
#resumeimg{
  max-height: 375px;
  height: 100%;
  width: auto;
  margin-top: 30px;
}
#issuestory{
  margin-right: 80px;
}
/* hoverable dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  text-decoration: none;
  font-size: 0.8em;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {
  visibility: visible;
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color:#377ad1;
}
/* hoverable dropdown*/

}
/*desktop end*/

/*tablet*/
@media screen and (min-width: 800px) and (max-width: 1130px) {
  #container {
    grid-template-columns: repeat(4,1fr);
    display: grid;
    grid-template-areas:
    '. img img .'
    '. intro intro . '
    '. footer footer.'
    ;
    align-items: center;
  }
  #container2 {
    grid-template-columns: repeat(1,1fr);
    display: grid;
    grid-template-areas:
    'intro2'
    'project1'
    'project2'
    'intro3'
    'project3'
    'project4'
    'intro4'
    'project5'
    'footer'
    ;
    align-items: center;
    text-align: center;
  }
  #container3 {
    text-align: center;
  }
  #container4 {
    grid-template-columns: repeat(6,1fr);
    display: grid;
    grid-template-areas:
    '. project1 text1 text1 text1 .'
    '. project2 text2 text2 text2 .'
    '. project3 text3 text3 text3 .'
    '. project4 text4 text4 text4 .'
    '. project5 text5 text5 text5 .'
    '. footer footer footer footer .'
    ;
    align-items: center;
  }

  #resumeimg{
    width: 55%;
    height: auto;
    margin: 20px auto;
  }
  #contactinfo{
    padding:50px 0;
    margin: 0 auto;
  }
  #contactinfo h2{
    margin-bottom: 20px;
  }
  #issuestory{
    margin: 0 20px;
  }
  #img{
    margin: 0 auto;
  }
  header h1{
    font-size: 90px;
  }
  .menu-trigger{
    display: block;
    margin-left: 10px;
    font-size: 1.75em;
    width: 2em;
  }
  nav li a{
    border-bottom: 1px solid white;
    }
  nav ul {
    display: none;
  }
  nav ul li{
    width: 100%;
  }
   .dropdown-content {
     display: none;
   }
   #intro{
     width: 90%;
   }
   #text1, #text2, #text3, #text4 {
     width: 80%;
   }
   .audio{
     width: 90%;
   }
   .text, .photo{
     width: 90%;
   }
   .photo{
     font-size: 16px;
   }

}
/*tablet end*/

/*mobile*/
@media screen and (max-width: 800px) {
  #container {
    grid-template-columns: repeat(1,1fr);
    display: grid;
    grid-template-areas:
    'img'
    'intro'
    'footer'
    ;
    align-items: center;
    text-align: center;
  }
  #container2 {
    grid-template-columns: repeat(1,1fr);
    display: grid;
    grid-template-areas:
    'intro2'
    'project1'
    'project2'
    'intro3'
    'project3'
    'project4'
    'intro4'
    'project5'
    'footer'
    ;
    align-items: center;
    text-align: center;
  }
  #container3 {
    text-align: center;
  }
  #container4 {
    grid-template-columns: repeat(1,1fr);
    display: grid;
    grid-template-areas:
    'project1'
    'text1'
    'project2'
    'text2'
    'project3'
    'text3'
    'project4'
    'text4'
    'project5'
    'text5'
    'footer'
    ;
    align-items: center;
    text-align: center;
  }
  img{
  width: 100%;
  height: auto;
  }
  #img {
  width: 70%;
  }
  nav li a{
  border-bottom: 1px solid white;
  }
  header h1{
    font-size: 90px;
  }
  .menu-trigger{
    display: block;
    margin-left: 10px;
    font-size: 1.75em;
    width: 2em;
  }
  nav ul {
    display: none;
  }
  nav ul li{
    width: 100%;
  }
  #contact{
  margin: 3px 0;
  }
  #project1, #project2, #project3, #project4 {
  height: auto;
  }
  nav ul {
  display: none;
  }
  .dropdown-content {
    display: none;
  }
  header h1{
  font-size: 60px;
  }
  #resume{
  max-height: none;
  margin-top: 20px;
  }
  #resumeimg{
  width: 60%;
  }
  #contactinfo{
  font-size: 1em;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0 50px 0;
  }
  #project1{
  margin-top: 0;
  }
  #intro{
  margin-bottom: 25px;
  }
  .audio{
    width: 97%;
  }
  .text, .photo{
    width: 97%;
  }
  .photo{
    font-size: 16px;
  }
  #issuestory{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-template-areas:
    'main'
    'sidebar';
    width: 90%;
    margin: 0 auto;
  }
  #storycontainer{
    width: 90%;
    margin:0 auto;
  }
}
/*mobile end*/
